body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
footer {
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}
.currentWeather {
  height: 93px;
}

.weatherApp {
  max-width: 652px;
  margin: 15px auto;
  padding: 10px;
  background: #fff;
}
.weatherImg {
  display: block;
  margin: 0px auto;
  position: relative;
  top: -25px;
}

.weatherDetails {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
}
.cityName {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
}
.dayDetails {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}
.dayDetails small {
  font-size: 12px;
}
.units {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
}
.currentTemp {
  color: #202124;
  display: inline-block;
  font-size: 48px;
  vertical-align: top;
  line-height: 60px;
  position: relative;
  top: -6px;
}
.units a {
  color: #70757a;
  text-decoration: none;
}
.units .active {
  color: #202124;
  cursor: default;
}
.futureForecast {
  margin: 0 auto;
  margin-top: 20px;
  color: #202124;
  text-align: center;
  display: block;
}
.futureDayForecast {
  font-size: 16px;
  opacity: 0.7;
}
.futureHigh {
  font-size: 13px;
  opacity: 1;
}
.futureLow {
  font-size: 13px;
  opacity: 0.7;
}
.futureWeatherIcon {
  max-width: 75%;
  margin: 0 auto;
  display: block;
}
.forecastRow {
  margin-right: 0px;
}
